:root {
    --wordsw: white;
    --wordsb: black;
    --welcome: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --test: #8f2800;
    --titles: #ffefff;
    --titlesf: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* These at the moment are all the same style but just set it up for future options */
    --name: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --score: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --time: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --quest: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  
/* General styles */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
.option-text {
  cursor: pointer;
}
/* body style */
body {
color: #000000ef;
font-family: sans-serif;
font-weight: bold;
font-size: 1.3rem;
}
/* Header and Nav START */
header {
padding: 10px 30px;
display: flex;
flex-wrap: wrap;
justify-content: center;
top: 0;
background:rgb(255, 255, 255);
color: black;
} 
header nav {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header h1 {
font-size: 40px;
color: black;
font-family: var(--name);
margin: 6px 20px;
font-weight: 50px;
justify-content: space-around;
}
header a {
  text-decoration: none;
  color: var(--wordsb);
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}
/* time score displays */
.time-score {
  display: flex;
  justify-content: space-between;
  margin: 5px 35px;
}
.score {
  padding: 5px;
  color: var(--wordsb);
  font-family: var(--name);
}
.time {
  padding: 5px;
  color: var(--wordsb);
  font-family: var(--name);
}
/* test */
.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
/* questions answers options */
.answer-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}
.options-container {
  margin: 15px 10px; 
  align-items: center;
  list-style-type: none;
}
.option-text {
  padding: 25px;
  background: rgb(162, 255, 162);
  border-radius: 14px;
  font-size: 1.2rem;
}
.hidden {
  display: none;
}
.correct {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  width: 100%;
  height: 40px;
}
/* Question Area */
.question {
  font-family: var(--welcome);
  color: var(--test);
  font-size: 40px;
  text-align: center;
  width: 650px;
}
.question {
  cursor: pointer;
}
/* Start button area */
.startbtn {
  font-size: 2rem;
  padding: 25 px;
  text-decoration: none;
  width: 10rem;
  background: green;
  border-radius: 6px;  
}
.start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.start span {
  justify-content: space-around;
  margin-bottom: 30px;

}
.start {
  cursor: pointer;
}
/* Footer Start */
footer {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  font-size: 10px;
  position: static;
  color: rgba(128, 128, 128, 0.548);
}
/* Footer End */

